@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto:ital,wght@0,100;1,100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    /*border: 2px solid red;*/
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.botonGetStarted{
    color: #FFFFFF;
    background-color: #F3603B;
    width: 134px;
    height: 44px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
}

.botonGetStartedNav{
    color: #FFFFFF;
    background-color: #F3603B;
    width: 134px;
    height: 44px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
}

a{
    text-decoration: none;
    font-weight: 500px;
    font-size: 13px;
    color: #242E52;
}
body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8.2vh 9.8vw
}

.burger{
    display: none;
}

body header nav .nav-ul{
    display: flex;
}

body header nav .nav-ul li{
    list-style-type: none;
    margin: 0px 28px;

}
/* Inicio SECCION 1 Portada */
body main .portada{
    display: flex;
    justify-content: center;
    margin: 0vh 8.63vw;
}
/* parte texto de la portada */
body main .portada .fraseHome{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
}

/* configuracion del titulo portada */
body main .portada .fraseHome h4{
    color: #232C50;
    font-weight:700;
    font-size: 60px;
    line-height: 66px;

}
/* Configuracion del parrafo */
body main .portada .fraseHome p{
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
}

/* -----Inicio SECCION 2 Descripcion---- */
body main .descripcion{
    display: flex;
    margin: 0vh 8.63vw;
    justify-content: center;
    
}

body main .descripcion .about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;

}

body main .descripcion .about h4{
    color: #232851;
    font-weight: 700;
    font-size: 36px;
    line-height: 114.6%;
}

body main .descripcion .about p{
    margin: 36px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%;
}
body main .descripcion .lista{
    width: 50%;

}
body main .descripcion .lista div{
    display: flex;
}
body main .descripcion .lista div button{
    align-self: flex-start;
    color: white;
    background-color: #F3603B;
    padding: 10px 25px;
    margin: 0px 23px;
    border-radius: 30px;
    border: none;
}
body main .descripcion .lista div div{
    display: flex;
    flex-direction: column;
}

body main .descripcion .lista div div h5{
    color: #323851;
    font-weight: bold;
    font-size: 19px;
    margin: 5px 0px;
}

body main .descripcion .lista div div p{
    margin: 8px 0px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}

/* Inicio Seccion 3 Opiniones*/

body main .opiniones{
    display: flex;
    flex-direction: column;
    margin: 0vh 3.69vw;
    align-items: center;/*no estoy seguro*/
}

body main .opiniones h4{
    color: #242E53;
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 156.6%;
    margin: 74px 0px;
}

body main .opiniones article {
    display: flex;
    background-color: #FAFAFA;
}

body main .opiniones article div{
    display: flex;
    flex-direction: column;
    align-items: center;/*no estoy seguro*/
    justify-content: space-evenly;
}

body main .opiniones article div span{
    color: #3F4868;
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 156.6%;
}
body main .opiniones article div p{
    color: #B9B9C1;
    font-weight: 600;
    font-size: 16px;
    line-height: 156.6%;
    padding: 21px 30px 39px 30px;
}

body main .opiniones article div img{
    position: relative;
    bottom: 25%;
}

body main .opiniones button{
    margin: 57px 0px;
}

/* ----- Inicio SECCION 4 CierreMain*/
body main .cierreMain {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3613C;
    width: 100%;    
}

body main .cierreMain p{
    padding: 6.83vh 8.59vw;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 50%;
}

body main .cierreMain .boton button{
    color: #F3603B;
    background-color: #FFFFFF;
    width: 134px;
    height: 44px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    margin: 90px 165px;
}

body main .cierreMain .boton{
    width: 50%;
}

/* -----Inicio Footer-----*/

body footer{
    background-color: #1E1E26;
}
body footer .piePagina{
    display: flex;
    justify-content: space-between;
    /* margin: 0px 165px; */
    margin: 0vh 8.59vw;
}

body footer .piePagina .logoRedes{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width: 33%;
}

body footer .piePagina .logoRedes div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

body footer .piePagina .listado {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
    height: 200px;
    margin: 53px 0px;
}

body footer .piePagina .listado span{
    color:#FFFFFF;
    margin: 12px 0px;
}

/*posicion formulario*/
body footer .piePagina .subscripcion{
    display: flex;
    align-items: center;
}

/*estilos formulario*/
.subscripcion form{
    width: 201px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 50px;
    order: 0;
    flex-grow: 0;
}

/*estilos texto formulario*/
.subscripcion form input{
    font-weight: 600;
    font-size: 13.1806px;
    line-height: 19px;
    margin: 12px 10px;
    color: #A0A0A0;
    border: none;
}

/*estilos boton GO del formulario*/
body footer div button {
    border-radius: 50px;
    background-color: #f3603b;
    color: #ffffff;
    text-decoration: none;
    width: 134px;
    height: 44px;
    border: none;
}

/*copyrigth*/
body footer .copyright{
    color: #8C8C94;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    text-align: right;
    padding-right: 170px;
    position: relative;
    bottom: 80px;
}
/*Hover y animacion sobre logos*/
.face:hover, .youtube:hover, .twitter:hover, .pint:hover, .insta:hover, .logo:hover{
    -webkit-transform: scale(2);
    transform: scale(2)
} 

/*-----Inicio Seccion Movil 375px -----*/

@media (max-width: 450px) {
    /*Boton Hamburguesa para pantallas 375px*/
    .burger{
        display: block;
    }
    .navegacion{
        display: none;
    }
    .botonGetStartedNav{
        display: none;
    }
    /* ---- Inicio Seccion 1 portada----- */
    body main .portada{
        flex-direction: column-reverse;
        align-items: center;

    }

    body main .portada .estadisticas img{
        width: 100%;
    }

    body main .portada .fraseHome{
        
        align-items: center;
        width: 100%;
    }

    /*texto cambio movile*/
    body main .portada .fraseHome h4{
        font-weight:700;
        font-size: 25px;
        line-height: 40px;
        text-align:center;
    
    }
    body main .portada .fraseHome p{
        font-weight: 500;
        font-size: 13.5584px;
        line-height: 157.1%;
        text-align: center;
        padding: 20px 0px;
    }

    /* -----Inicio SECCION 2-----*/
    body main .descripcion{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    body main .descripcion .about{
        width: 100%;
    }

    body main .descripcion .about h4{
        margin-top: 25px;
        font-size: 25px;
        line-height: 40px;
        text-align: center;
    }

    body main .descripcion .about p{
        font-size: 13.55px;  
        text-align: center; 
    }
    body main .descripcion .lista{
        width: 100%;
    }

    body main .descripcion .lista div div{
        width: 255px;
        position: relative;
        right: 10px;
    }

    body main .descripcion .lista div div p{
        margin: 0px 0px;
        font-size: 12.2984px;
        position: relative;
        right: 60px;
        width: 77vw;
        text-align: center;
    }
    body main .descripcion .lista div button{
        padding: 10px 25px;
        margin: 0px 0px;
        z-index: 1;
    }
    body main .descripcion .lista div div h5{
        font-size: 12px;
        height: 33px;
        margin: 0px 0px;
        background-color: #f7cdc3;
        padding: 9px 0px 0px 15px;
    } 
    
    /* -----Inicio SECCION 3 Opiniones----- */

    body main .opiniones article div:nth-child(2n+1){
        display: none;
    }

    body main .opiniones h4{
        font-size: 25px;
        line-height: 40px;
        text-align: center;
    }
    body main .opiniones article div p{
        font-weight: 500;
        font-size: 13.5584px;
        line-height: 157.1%;
        text-align: center;
    }
    
    body main .opiniones article div img{
        width: 70px;
        height: 70px;
        position: relative;
        bottom: 10%;
    }

    /* -----Inicio SECCION 4 CierreMain----- */

    body main .cierreMain{
        flex-direction: column;
    }

    body main .cierreMain p{
        font-weight: 700;
        font-size: 25px;
        line-height: 40px;
        width: 100%;
        text-align: center;
    }
    body main .cierreMain .boton{
        width: 100%;
    }

    body main .cierreMain .boton button{        
        margin: 5vh 30vw;
    }
    
    /* -----Pie DE PAGINA Footer----- */
    body footer .piePagina{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    body footer .piePagina .subscripcion{
        margin: 30px 0px;
    }

    /*estilos boton GO del formulario*/
    body footer div button {
        width: 80px;
    }

    body footer .piePagina .listado {
        width: 100%;
        align-content: space-around;
    }
    
    body footer .piePagina .listado span{
        color:#FFFFFF;
        margin: 12px 0px;
    }
    
    body footer .piePagina .logoRedes{
        width: 100%;
    }
    
    body footer .piePagina .logoRedes .logo{
        margin: 25px;
        order: 1;
    }
    
    body footer .piePagina .logoRedes div{
        width: 100%;
    }

    /* -----Copyrigth ----- */
    body footer .copyright{
        text-align: center;
        padding-right: 0px;
        position: static;
        height:30px;
    }


}